# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://kcwrsovghmivborkgcam.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtjd3Jzb3ZnaG1pdmJvcmtnY2FtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkyNTc4OTQsImV4cCI6MjA5NDgzMzg5NH0.AS9MpJqCjf_3iR8PnXLCZw33cu1yEdUxJ2vv4R9Kq1g

# App
NEXT_PUBLIC_APP_URL=https://produksigudangcj.vercel.app
NEXT_PUBLIC_APP_NAME=PT Emas Murni Asli
