# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage
/test-results/
/playwright-report/
/playwright/.cache/

# next.js
/.next/
/out/

# production
/build

# env files
.env*.local
.env
.env.local.example

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local
.DS_Store
*.pem
AppData/
*.log
